//  ////  ////  --  --|    FORMS


input[type="name"], input[type="email"], input[type="password"], input[type="text"] {
	width: 92%;
	margin: 0 auto 1.6rem auto;
	padding: 0.4rem 1rem;
	display: block;
	position: relative;

	border: none;
	border-bottom: 2px solid;
	background-color: transparent;

	font-size: 2.4rem;
}

.blue {
	border-bottom-color: $blue !important;
}